.Viewer >section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    padding-top: 100px;
}
.Viewer >section h4{
    font-size: 22px;

}

.emotion-img-wrapper{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.emotion-img-wrapper.img-1 {
    background-color: rgb(100, 201, 100);
}

.emotion-img-wrapper.img-2 {
    background-color: rgb(157, 215, 114);
}

.emotion-img-wrapper.img-3 {
    background-color: rgb(253, 206, 23);
}

.emotion-img-wrapper.img-4 {
    background-color: rgb(253, 132, 70);
}

.emotion-img-wrapper.img-5 {
    background-color: rgb(253, 86, 95);
}